In [1]:
import sys
sys.path.append('../..')

import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame(np.arange(10).reshape(-1, 2))

In [7]:
from sklearn.base import BaseEstimator, TransformerMixin


class RollingSum(BaseEstimator, TransformerMixin):

    def __init__(self, window):
        self.window = window
        
    def fit(self, x, y=None):
        return self
    
    def transform(self, x):
        return x.rolling(
            window=self.window,
            min_periods=1
        ).sum()

In [8]:
t = RollingSum(2).transform(data)

In [9]:
t

      0     1
0   0.0   1.0
1   2.0   4.0
2   6.0   8.0
3  10.0  12.0
4  14.0  16.0

In [10]:
data

   0  1
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9